ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    padding-top: 1rem;
}

ul li {
    border: 1px solid green;
    padding: 0.5rem;
    width: 4em;
    font-size: 120%;
    font-weight: bold;
    color: rgb(2, 122, 96);
    cursor: pointer;
    text-align: center;
}

.selected {
    background: linear-gradient(to right, rgb(0, 113, 128), rgb(0, 124, 97));
    color: white;
    text-align: center;
}