* {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100vw;
    height: fit-content;
    background: linear-gradient(to right, rgb(0, 158, 137), rgb(0, 141, 235));
    padding: 0.4rem 0rem;
}

nav p {
    width: fit-content;
    margin: 0px auto;
    font-size: 250%;
    font-weight: 500;
    color: white;
}