.start-section {
    height: inherit;
    width: inherit;
    background: linear-gradient(to bottom right, #28867A, #01B4D9);
    border-radius: 20px;
    opacity: 0.5;
}

.start-button {
    width: fit-content;
    height: fit-content;
    padding: 0.5em 1em;
    margin: 5em auto;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 150%;
    border: 2px solid white;
    border-radius: 10px;
    opacity: 1.5;
}

.start-button:active {
    font-weight: bold;
    background-color: white;
    color: rgb(0, 128, 107);
}